body{
	background: #9e5b52;
}

header {
	background: #F9ED69;
	text-align:center;
	padding: 28px;
	font-size: 48px;
	font-weight: bold;
}

article{
	margin-top: 32px;
	background: #fff;
	margin-left: 180px;
	margin-right: 180px;
}

.menu{
	padding-top: 20px;
	padding-bottom: 50px;
	padding-left: 17px;
	padding-right: 90px;
	text-align: left;
	background: #fff;
	position: fixed;
}
.menu li {
	display: block;
}


.NavBar {
	padding: 10px;
	text-align: center;
	background: #FFD5BC;
	left: 0;
	right: 0;
}

.NavBar li {
	display: inline-block;
}

.NavBar li:after {
	content: "|";
	color: #9d999d;
	vertical-align:top;
	display: inline-block;
}

.NavBar li:last-child:after {
	content: none;
}

.NavBar a {
	font-weight: blod;
	color: #a5592c;
	position: relative;
	text-decoration: none;
	font-family: "Times New Roman", Times, serif; 
	letter-spacing: 3px;
	margin: 0px 30px;
	font-size: 20px;
	text-transform: uppercase;
	display: inline-block;
	transition: color .5s;
}

.NavBar a:before {
	content: "";
	border: solid 2px #feb386;
	position: absolute;
	right: 0px;
	left: 0px;
	bottom: 0px;
	margin: -3px;
	transform: scale(0);
	transition: .8s;
}

.NavBar a:hover{
	color: #feb386;
}

.NavBar a:hover:before {
	transform: scale(1);
}  

.NavBar a.CurrentPlace:before{
	content: "";
	border: solid 2px #feb386;
	position: absolute;
	margin: -3px;
	transform: scale(1);
}
.NavBar a.CurrentPlace:hover{
	color: #a5592c;
}