body{
	background: #000;
}

header {
	background: #000;
	text-align:center;
	padding: 28px;
	font-size: 48px;
	font-weight: bold;
	border: solid 4px white; 
	color:#DC143C;

}

article{
	border: solid 4px white;
	margin-top:18px;
	background: #000;
	margin-left: 220px;
	color:#DC143C;
}

.menu{
	padding: 0px;
	text-align: left;
	background: #000;
	position: fixed;
}
.menu li {
	display: block;
	border: solid 2px white;
	background: #000;
	transition: 1s;
}
.menu li:hover
{
	transform: translate(15px,0);
}


.menu a {
	font-weight: blod;
	color: #DC143C;
	position: relative;
	text-decoration: none;
	font-family: "Times New Roman", Times, serif; 
	letter-spacing: 3px;
	margin: 0px 30px;
	font-size: 20px;
	text-transform: uppercase;
	display: inline-block;
	transition: .5s;
}


.NavBar {
	padding: 10px;
	text-align: center;
	background: #000;
	margin-bottom: 0px;
	border: solid 4px white;
}

.NavBar li {
	display: inline-block;
}

.NavBar li:after {
	content: "|";
	color: #DC143C;
	vertical-align:top;
	display: inline-block;
}

.NavBar li:last-child:after {
	content: none;
}

.NavBar a {
	font-weight: blod;
	color: #DC143C;
	position: relative;
	text-decoration: none;
	font-family: "Times New Roman", Times, serif; 
	letter-spacing: 3px;
	margin: 0px 30px;
	font-size: 20px;
	text-transform: uppercase;
	display: inline-block;
	transition: color .5s;
}

.NavBar a:before {
	content: "";
	border: solid 2px #FF4364;
	position: absolute;
	right: 0px;
	left: 0px;
	bottom: 0px;
	margin: -3px;
	transform: scale(0);
	transition: .8s;
}

.NavBar a:hover{
	color: #FF4364;
}

.NavBar a:hover:before {
	transform: scale(1);
}  

.NavBar a.CurrentPlace:before{
	content: "";
	border: solid 2px #DC143C;
	position: absolute;
	margin: -3px;
	transform: scale(1);
}
.NavBar a.CurrentPlace:hover{
	color: #DC143C;
}

footer{
	margin-top:10px; 
	background: #000;
	text-align:center;
	padding: 28px;
	font-size: 48px;
	font-weight: bold;
	border: solid 4px white; 
	color:#DC143C;
}