*{
	border-radius: 10px;
	font-family: "Times New Roman", Times, serif;
}

body{
	background:#11232d;
}

header {
	background:#11232d;
	font-weight: bold;
	color:#cc99cc;
	text-align:center;
	padding: 28px;
	padding-left: 40px;
	font-size: 48px;
	border: solid 4px #f99157;
	margin-bottom: 10px;
}

article{
	margin-top:20px;
	border-top-left-radius:0;
	border-top-right-radius:0;
	align-self: center;
	text-align: center;
	background: #cccccc;
	border: solid 4px #f99157;
	padding: 30px;
	padding-top:10px;
}

footer{
	font-weight: bold;
	color: #8ecc99;
	background: #11232d;
	margin-top: 20px;
	vertical-align: middle;
	font-size:20px;
	text-align:center;
	border: solid 4px #f99157;
	padding: 10px;
	transition: .8s;
}