article{
	margin-top:20px;
	margin-left:0;
	margin-bottom: 20px;
	text-align:center;
}

footer{
	position: sticky;
	bottom: 5px;
}

.Mainarticle p{
	position: relative;
	font-size: 28px;
	text-align: center;
	padding-bottom: 20px;
}

.Mainarticle img{
	vertical-align:middle;
	border-radius: 22px;
	margin-bottom: 2%;
}

table {
	margin-bottom: 20px;
	width: 65%;
	border-radius: 0; 
	border: 2px solid grey;
}

th {
	border-radius: 0; 
	border: 1px solid grey;
}

td {
	text-align:center;
	border-radius: 0; 
	border: 1px solid grey;
}

.ButtonPress{
	margin-top: 30px;
	margin-bottom: 30px;
	font-weight: bold;
	color: #8ecc99;
	background:#11232d;
	font-size: 30px;
	transition: 1s;
	width: 500px;
	height: 75px;
}

.ButtonPress:hover{
	background-color: #49423d;
}

.ButtonPress img{
	vertical-align:middle;
}