*{
	border-radius: 10px;
	font-family: "Times New Roman", Times, serif;
}
body{
	background:#11232d;
}

header {
	background:#11232d;
	font-weight: bold;
	color:#cc99cc;
	text-align:center;
	padding: 28px;
	font-size: 48px;
	border: solid 4px #f99157;
	margin-bottom: 10px;
}

.ArticleMain img{
	width: 85%;
	height: 85%;
}
article{
	background: #cccccc;
	margin-top:-100px;
	border: solid 5px #f99157;
	margin-left: 245px;
}
.anchor{
	display: block;
	position: relative;
	top:-150px;
	visibility: hidden;
}

.text{
	margin-left: 10%;
	margin-right: 10%;
	font-size: 25px;
	margin-top: -20px;
	text-align: justify;
}

.menu{
	background:#11232d;
	margin:0px;
	margin-top:20px;
	position: sticky;
	top: 71px;
	border-left: solid 4px #f99157;
	border-radius: 0px;
	padding: 5px;
	display: inline-block;
	transition: 1s;

}
.menu_btn a{
	display: block;
	position: relative;
	height: 25px;
	width: 200px;
	cursor: pointer;
	text-align: center;
}

.menu li {
	text-align:center;
	display: block;
	border: solid 2px #f99157;
	margin: 3px;
	transition: .5s;
}

.menu li:hover{
	transform: translate(25px,0);
}

.menu a {
	font-weight: bold;
	color: #8ecc99;
	position: relative;
	text-decoration: none;
	letter-spacing: 3px;
	margin: 0;
	font-size: 20px;
	text-transform: uppercase;
	display: inline-block;
	transition: .5s;
}

section{
	background:#11232d;
	border-top: solid 10px #11232d;
	border-radius: 0px;
	position: sticky;
	top: 0px;
}

.NavBar {
	background:#11232d;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
	margin-top:0px;
	margin-bottom: 0px;
	border: solid 4px #f99157;
}

.NavBar li {
	display: inline-block;
}

.NavBar li:after {
	content: "|";
	vertical-align:top;
	display: inline-block;
}

.NavBar li:last-child:after {
	content: none;
}

.NavBar a {
	font-weight: bold;
	color: #8ecc99;
	position: relative;
	text-decoration: none;
	letter-spacing: 3px;
	margin: 0px 20px;
	font-size: 20px;
	text-transform: uppercase;
	display: inline-block;
	transition: color .5s;
}

.NavBar a:before {
	content: "";
	border: solid 2px #FF4364;
	position: absolute;
	right: 0px;
	left: 0px;
	bottom: 0px;
	margin: -3px;
	transform: scale(0);
	transition: .8s;
}

.NavBar a:hover{
	color: #FF4364;
}

.NavBar a:hover:before {
	transform: scale(1);
}

.NavBar a.CurrentPlace{
	color: #8ecc99;
}

.NavBar a.CurrentPlace:before{
	content: "";
	border: solid 2px #8ecc99;
	position: absolute;
	margin: -3px;
	transform: scale(1);
	transition: .8s;
}

.NavBar a.CurrentPlace:hover{
	color:#FF4364;
}

.NavBar a.CurrentPlace:after{
	content: "";
	border: solid 2px #8ecc99;
	position: absolute;
	right: 0px;
	left: 0px;
	bottom: 0px;
	margin: -3px;
	transform: scale(0);
	transition: 1s;
}

.NavBar a.CurrentPlace:hover:after{
	border-color: #FF4364;
	transform: scale(1);
}

footer{
	font-weight: bold;
	color: #8ecc99;
	background: #11232d;
	margin-top: 10px;
	vertical-align: middle;
	font-size:20px;
	text-align:center;
	border: solid 4px #f99157;
	padding: 10px;
	transition: .8s;
}

footer img:hover{
	background-color:#11111d;
}