article{
	margin-top:-173px;
	border-top-left-radius:0;
	border-top-right-radius:0;
	align-self: center;
	text-align: center;
}

footer{
	position: sticky;
	bottom: 5px;
}

.Mainarticle p{
	position: relative;
	font-size: 28px;
	text-align: center;
	padding-bottom: 20px;
}

.Mainarticle img{
	vertical-align:middle;
	border-radius: 22px;
	margin-bottom: 2%;
}

table {
	margin-bottom: 20px;
	width: 65%;
	border-radius: 0; 
	border: 2px solid grey;
}

th {
	border-radius: 0; 
	border: 1px solid grey;
}

td {
	text-align:center;
	border-radius: 0; 
	border: 1px solid grey;
}

.ButtonDownload a{
	margin:20px;
	background: #11232d;
	font-weight: bold;
	color: #8ecc99;
	position: relative;
	text-decoration: none;
	letter-spacing: 3px;
	font-size: 20px;
	text-transform: uppercase;
	padding: 20px;
	display: inline-flex;
	align-items: center;
	transition: 1s;
}

.ButtonDownload a:before {
	content: "";
	border: solid 2px #FF4364;
	position: absolute;
	right: 24px;
	left: 70px;
	bottom: 30px;
	margin: -3px;
	transform: scale(0);
	transition: .8s;
}
.ButtonDownload:hover{
	color: #FF4364;
}

.ButtonDownload a:hover{
	color: #FF4364;
	background: #1d1e33;
}

.ButtonDownload a:hover:before {
	color: #FF4364;
	transform: scale(1);
}
